.form-group {
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .form-control {
    padding-right: 40px;
  }

  .input-wrapper {
    position: relative;

    .eye-btn {
      position: absolute;
      right: 10px;
      width: 18px;
      height: 18px;
      top: 5px;
    }
  }
}

.btn {
  width: 100%;
}
