.strength {
  margin-bottom: 10px;

  &.invalid {
    .strengthBar {
      li {
        background-color: darkred;
      }
    }

    p {
      color: darkred;
    }
  }

  &.easy {
    .strengthBar {
      li:nth-child(1) {
        background-color: darkred;
      }
    }

    p {
      color: darkred;
    }
  }

  &.medium {
    .strengthBar {

      li:nth-child(-n + 2) {
        background-color: orange;
      }
    }

    p {
      color: orange;
    }
  }

  &.strong {
    .strengthBar {
      li {
        background-color: yellowgreen;
      }
    }

    p {
      color: yellowgreen;
    }
  }

  .strengthBar {
    display: flex;
    list-style: none;
    margin: 0.5rem 0 0 0;
    padding: 0;


    .bar {
      background: #ddd;
      border-radius: 2px;
      display: inline-block;
      height: 5px;
      margin-right: 1px;
      flex-grow: 1;
    }
  }

  p {
    font-weight: bold;
  }
}
